<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<header class="intro-header">
  <div class="container">
    <h2 class="introducao_1">Ola, me chamo</h2>
    <h1>Guilherme Viana <br>Este é meu site</h1>
  </div>
  <div class="introducao_2">
    <p>Redes Sociais:</p>
  </div>
</header>
<section class="container">
  <div class="social-icons">
    <a href="https://www.instagram.com/gui.viana14/?next=%2F" class="icon-link" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/guilherme-viana-filgueiras-4b5211234/" class="icon-link" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/GuilhermeViana14" class="icon-link" aria-label="GitHub"><i class="fab fa-github"></i></a>
  </div>
</section>
