<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container texto_1">
  <h1><br>Olá, me chamo <br></h1>
  <div class="container texto_2">
    <p> Guilherme Viana<br>E este é meu site</p>
  </div>
  <div class="container texto_3">
    <p>Atualmente estou no meu sexto semestre da faculdade, cursando Ciência da Computação na Uniritter. Focado em front-end pois é a area que mais possuo interesse no mercado de trabalho
    </p>
  </div>
  <div class="social-icons">
    <a href="https://www.instagram.com/gui.viana14/?next=%2F" class="icon-link"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/guilherme-viana-filgueiras-4b5211234/" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/GuilhermeViana14" class="icon-link"><i class="fab fa-github"></i></a>
  </div>
</div>
<app-pagina-sobre-mim></app-pagina-sobre-mim>