@font-face {
  font-family: 'Calibre';
  src: url('/caminho/para/Calibre-Regular.woff2') format('woff2'),
       url('/caminho/para/Calibre-Regular.woff') format('woff'),
       url('/caminho/para/Calibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.texto_1{
  margin-top: 10%;
  font-size: var(--fz-xl);
  font-family: courier;
  animation: fadeIn 3s steps(40, end);
  text-align: left;
  margin-left: 200px;
}

.texto_2 {
  font-size: 80px;
  color: #ffffff;
  animation: fadeIn 3s steps(40, end);
  text-align: left;
  font-family: 'Calibre', sans-serif;
  font-weight: 900;
  line-height: 1.1
}
.texto_3 {
  width: 600px;
  font-size: 20px;
  color: #aaa8a8;
  animation: fadeIn 3s steps(40, end);
  text-align: left;
  font-family: sans-serif;
  margin-right: 1000px;

}


.social-icons {
  display: flex;
  gap: 20px; /* Espaço entre os ícones */
  margin-top: 10px; /* Espaço acima dos ícones */
  margin-left: 20px; /* Ajusta o alinhamento dos ícones à esquerda, para corresponder aos textos */
  animation: fadeIn 3s steps(40, end);
}

.icon-link {
  color: #ffffff; /* Cor dos ícones */
  font-size: 30px; /* Tamanho dos ícones */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave para cor e tamanho */
}

.icon-link:hover {
  color: rgb(70, 230, 238); /* Cor dos ícones ao passar o mouse */
  transform: scale(1.1); /* Aumenta o tamanho dos ícones ao passar o mouse */
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

