
<h2 class="underline">Sobre Mim</h2>
<div class="container">
    <div class="text-container">
        <h2 class="h2-sobre-mim">Quem é Guilherme Viana ?</h2>
        <p> 
        <br>Meu nome é Guilherme Viana e minha paixão por tecnologia começou cedo, especialmente com jogos, que despertaram meu interesse em seguir uma carreira na área de TI.<br><br> Foi esse fascínio que me levou a escolher o curso de Ciência da Computação, onde posso aprofundar meus conhecimentos e trabalhar com aquilo que mais me motiva.
        </p>
    </div>
    <div class="text-container">
        <h2 class="h2-sobre-mim">Obejtivo de vida.</h2>
        <p>
            Meu objetivo principal é ingressar no mercado de trabalho como desenvolvedor, com um foco especial em desenvolvimento web. No entanto, estou determinado a explorar diversas áreas da tecnologia para me tornar um desenvolvedor completo.<br><br> Busco adquirir experiência em diferentes aspectos do desenvolvimento, desde front-end e back-end até outras especialidades, para expandir minhas habilidades e contribuir de forma abrangente em projetos futuros.
        </p>
    </div>
</div>