@font-face {
  font-family: 'Calibre';
  src: url('/caminho/para/Calibre-Regular.woff2') format('woff2'),
       url('/caminho/para/Calibre-Regular.woff') format('woff'),
       url('/caminho/para/Calibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  padding: 20px;
  position: relative;
  width: 49%;
}

.project-list {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  overflow-x: auto; 
  scroll-behavior: auto;
  padding-bottom: 20px;
  scrollbar-width: none; /* Oculta a barra de rolagem em navegadores baseados em Firefox */
  width: 100%;
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
  cursor: grab; /* Adiciona o cursor de arrastar */
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  user-select: none; /* Impede a seleção de texto */
  flex-wrap: nowrap; /* Garante que os itens não quebrem para a linha seguinte */
}

.project-list:active {
  cursor: grabbing; /* Altera o cursor quando está arrastando */
}

.project-item {
  flex: 0 0 auto;
  width: 300px; /* Ajuste a largura conforme necessário */
  background-color: transparent;
  padding: 15px;
  border: linear-gradient(45deg, rgba(0, 204, 255, 0.8), rgba(0, 102, 204, 0.8));
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.8);
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  margin-right: 20px; /* Espaçamento entre itens */
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
}

.meu-projeto-h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 4rem;
  font-family: 'Calibre', sans-serif;
  margin-top: 10%;
  font-weight: 900;
  line-height: 1.1;
  margin-left: 10%;
}

.meu-projeto-h2::after {
  content: "";
  display: block;
  position: flex;
  margin-top: -25px;
  width: 40%;
  height: 2px;
  margin-left: 30%;
  background: linear-gradient(45deg, rgba(0, 204, 255, 0.8), rgba(0, 102, 204, 0.8)); /* Gradiente neon */
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.8); /* Efeito de brilho neon */
}

.project-item {
  background-color: transparent; /* Fundo transparente */
  padding: 15px;
  border: linear-gradient(45deg, rgba(0, 204, 255, 0.8), rgba(0, 102, 204, 0.8)); /* Gradiente neon */
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.8); /* Efeito de brilho neon */
  text-align: center;
  position: relative; /* Necessário para a animação */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Transição suave para animação */
}

.project-item:hover {
  transform: scale(1.05); /* Aumenta o item em 5% ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
  border-color: rgba(0, 204, 255, 1); /* Intensifica a cor da borda ao passar o mouse */
}

.project-link {
  display: block; /* Faz com que o link ocupe toda a área do projeto */
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Herda a cor do texto do item do projeto */
}

.project-item h3 {
  color: #ffffff; /* Cor branca para o nome do projeto */
  margin: 10px 0;
  transition: color 0.3s ease; /* Transição suave para a cor */
  font-size: 25px;
}

.project-item:hover h3 {
  color: #00bcd4; /* Cor azul ciano para o nome do projeto ao passar o mouse */
}

.project-item p {
  color: #ffffff; /* Cor branca para as ferramentas */
  margin: 10px 0;
  font-size: 20px;
}

.project-image-wrapper {
  width: 100%; /* Garante que o wrapper ocupe toda a largura disponível */
  height: 150px; /* Define uma altura menor para as imagens */
  overflow: hidden; /* Garante que partes da imagem que saem do container não sejam visíveis */
  border-radius: 5px; /* Mantém o arredondamento das bordas */
  pointer-events: none; /* Ignora eventos do mouse sobre a imagem */
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz com que a imagem cubra todo o espaço disponível sem distorção */
  user-select: none;
}
