<h2 class="underline">curiosidades</h2>

<div class="container">
    <div class="text-container">
        <h2 class="h2-curiosidades">O mais gosto de fazer</h2>
        <p> 
            Eu adoro jogar videogames no meu tempo livre, especialmente no gênero FPS. Também sou fã de jogos como League of Legends.<br><br> Meu interesse por videogames começou no PlayStation 2, quando eu assistia meu pai jogar Resident Evil 4. A paixão pelo mundo dos games cresceu ainda mais quando comecei a jogar Minecraft com meus amigos.
        </p>
    </div>
    <div class="text-container">
        <h2 class="h2-curiosidades">Meus passa tempos</h2>
        <p>
            Meu passatempo favorito relacionado à programação é trabalhar em projetos pessoais. Gosto de criar pequenos jogos, usando ferramentas como Pygame e Scratch. <br><br>Além disso, exploro plataformas como CodePen para experimentar com designs e LeetCode para resolver problemas lógicos e aprimorar minhas habilidades de codificação.
        </p>
    </div>
</div>