
<h2 class="titulo-projeto">projetos</h2>
<div class="container">
  <div class="project-list" infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScroll()">

    <div *ngFor="let project of projects" class="project-item">
      <h3 class="project-name">{{ project.name }}</h3>
      <p class="project-tools"> {{ project.tools }}</p>
      <a [href]="project.url" target="_blank" class="project-image-wrapper">
        <img [src]="project.image" [alt]="project.name + ' Image'" class="project-image">
      </a>
    </div>

    <div *ngIf="isLoading" class="loading">Loading...</div>
  </div>
</div>
