main {
  background: linear-gradient(45deg, #0a192f, #0a192f 20%, rgba(0, 102, 204, 0.5), rgba(0, 102, 204, 0.7)); /* Adiciona um gradiente neon ao fundo */
  min-height: 120vh; 
  width: 100%;
  position: relative; 
  overflow: hidden; /* Garante que os efeitos não vazem do container */
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 102, 204, 0.2) 0%, rgba(0, 51, 102, 0.4) 100%); /* Gradiente radial ajustado */
  filter: blur(8px); /* Adiciona desfoque ao brilho */
  z-index: -1; /* Garante que o brilho fique atrás do conteúdo */
}

main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 102, 204, 0.3) 0%, rgba(0, 51, 102, 0.4) 100%); /* Gradiente radial ajustado */
  filter: blur(20px); /* Aumenta o desfoque para um efeito mais pronunciado */
  z-index: -2; /* Garante que o brilho fique atrás do conteúdo e do brilho principal */
  opacity: 0.3; /* Ajusta a opacidade para um brilho mais suave */
}
