<div class="container titulo_sobre_mim">
<p>Sobre Mim .</p>
</div>
<div class="conteudo">
    <div class="texto_sobre_mim">
      <p>
        Meu interesse pela área de tecnologia começou desde cedo, principalmente por conta dos jogos. A partir daí, minha vontade de atuar nessa área só aumentou. No início da faculdade, fiquei bastante chateado, pois não me apaixonei nem encontrei o que realmente queria fazer. A princípio, meu objetivo era trabalhar na área de jogos, mas, conforme os semestres passaram, chegou a disciplina de desenvolvimento web e mobile, onde finalmente descobri a área em que gostaria de atuar.<br><br>Comecei a procurar cursos online sobre front-end, iniciando com HTML e CSS. Depois disso, parti diretamente para o Angular, e meu primeiro projeto é este site.<br><br> Na faculdade ja fiz alguns projetos com python um pouco de PostgreSQL e mySqlite.</p>
    </div>
    <div class="competencias">
      <h2 class="competencias h2">Minhas Competências</h2>
      <ul>
        <li>Desenvolvimento Web Front-end</li>
        <li>HTML, CSS, JavaScript</li>
        <li>Frameworks: Angular</li>
        <li>python</li>
        <li>ingles</li>
        <li>Levemente PostgreSQL</li>
        
      </ul>
    </div>
  </div>
