@font-face {
  font-family: 'Calibre';
  src: url('/caminho/para/Calibre-Regular.woff2') format('woff2'),
       url('/caminho/para/Calibre-Regular.woff') format('woff'),
       url('/caminho/para/Calibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.titulo_sobre_mim {
  animation: slideInFromLeft 1s ease-out; /* Aplica a animação de deslizar */
  font-size: 30px;
  font-family: 'Calibre', sans-serif;
  text-align: left;
  margin-left: 200px;
  color: #ffffff;
  margin-top: 90px;
  font-weight: 900;
}

.titulo_sobre_mim::after {
  content: "";
  display: block;
  position: relative;
  margin-top: -15px;
  width: 400px;
  height: 2px;
  margin-left: 220px;
  background: linear-gradient(45deg, rgba(0, 204, 255, 0.8), rgba(0, 102, 204, 0.8)); /* Gradiente neon */
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.8); /* Efeito de brilho neon */
}

.texto_sobre_mim {
  margin-left: 220px;
  text-align: left;
  font-family: sans-serif;
  color: #ffffff;
  width: 600px;
  margin-top: 20px;
  font-size: 20px;
}

.conteudo {
  display: flex; /* Configura o layout flexível */
  justify-content: space-between; /* Espaça os itens igualmente */
}

.competencias {
  width: 35%; /* Ajuste a largura conforme necessário */
  padding: 20px;
  color: #ffffff;
  
}



.competencias h2 {
  font-size: 25px;
  text-align: left;
  margin-top: 0;
  width: 60%;
  font-family: 'Calibre', sans-serif;
  color: #ffffff;
  font-weight: 900;
  position: relative; /* Necessário para posicionar a borda neon */
  padding-bottom: 10px; /* Adiciona espaço para a borda neon */
}


.competencias ul {
  align-items: center;
  margin-top: 20px;
  width: 45%;
  font-size: 20px;
  list-style-type: none; /* Remove o estilo de lista padrão */
  color: white;
  padding-left: 0; /* Remove o padding padrão da lista */
  border: linear-gradient(45deg, rgba(0, 204, 255, 0.8), rgba(0, 102, 204, 0.8)); /* Gradiente neon */
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.8); /* Efeito de brilho neon */
  padding: 20px; /* Adiciona padding interno */
  background: rgba(0, 0, 0, 0.2); /* Fundo transparente com leve cor para contraste */
  position: relative; /* Necessário para o efeito de brilho */
}



.competencias li {
  margin-bottom: 10px;
  position: relative; /* Necessário para posicionar a seta */
  padding-left: 20px; /* Espaçamento para a seta */
}

.competencias li::before {
  content: '■'; /* Adiciona a seta antes de cada item */
  position: absolute;
  left: 0; /* Posiciona a seta à esquerda */
  color: rgba(70, 230, 238, 0.664); /* Define a cor da seta */
  font-size: 12px; /* Tamanho da seta */
  transform: translateY(2px); /* Ajusta o alinhamento vertical da seta */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define a animação de deslizar da esquerda */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); /* Começa fora da tela à esquerda */
    opacity: 0; /* Começa invisível */
  }
  to {
    transform: translateX(0); /* Move para a posição final */
    opacity: 1; /* Fica visível */
  }
}