body, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: none;
  background-size: cover; /* Faz o gradiente cobrir toda a área da navbar */
  background-position: center center;
  background-attachment: fixed; /* Faz o fundo fixo durante o scroll */
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
}

.navbar.hidden {
  transform: translateY(-100%);
  box-shadow: none;
}

.nav-links {
  display: flex;
  margin: 0 auto;
}

.nav-links li {
  display: inline-block;
  margin: 0 25px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
  display: inline-block;
}

.nav-links a:hover {
  color: #ffffff; /* Ajustado para ser uma cor sólida durante o hover */
  transform: scale(1.1);
  animation: oscillate 0.5s ease-in-out infinite;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.7), 0 0 10px rgba(255, 0, 0, 0.7), 0 0 15px rgba(255, 0, 0, 0.7); /* Adiciona o efeito de brilho neon */
}

@keyframes oscillate {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-5px);
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);
}

.logo span {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
}

.logo::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.6));
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
  transition: background-color 0.3s ease;
}

.logo:hover::after {
  background-color: #ffffff;
}
