body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; /* Aumenta o padding para aumentar a altura da navbar */
    background: linear-gradient(45deg, #000000, #000000 1%, rgba(77, 0, 0, 0.7), rgba(102, 0, 0, 0.9)),
                linear-gradient(to bottom, #000000, #1a0000 50%, #1a0000 51%, #000000);
    height: 70px; /* Define uma altura fixa para a navbar */
    position: fixed; /* Fixa a navbar no topo da página */
    width: 100%; /* Faz a navbar ocupar 100% da largura da página */
    top: 0; /* Fixa a navbar no topo da página */
    left: 0; /* Centraliza a navbar horizontalmente */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona uma transição suave para a transformação e a sombra */
    z-index: 10; /* Garante que a navbar esteja acima de outros elementos */
  }
  
  .navbar.hidden {
    transform: translateY(-100%); /* Move a navbar para fora da tela quando oculta */
    box-shadow: none; /* Remove a sombra quando a navbar está oculta */
  }
  
  .nav-links {
    display: flex;
    margin: 0 auto; /* Centraliza a lista de navegação dentro da navbar */
  }
  
  .nav-links li {
    display: inline-block;
    margin: 0 25px; /* Espaço horizontal entre os itens */
  }
  
  .nav-links a {
    color: #ffffff;
    text-decoration: none; /* Remove o sublinhado do link */
    font-size: 30px; /* Tamanho da fonte */
    position: relative; /* Necessário para o posicionamento de elementos adicionais */
    transition: color 0.3s ease, transform 0.3s ease; /* Adiciona transições suaves para a cor e o tamanho */
  }
  
  .nav-links a:hover {
    color: #000000; /* Mantém a cor do texto igual ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do link em 10% */
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado do link do logo */
    position: relative; /* Necessário para posicionar a barra corretamente */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
  }
  
  .logo:hover {
    transform: scale(1.2); /* Aumenta o tamanho do logo em 20% */
  }
  
  .logo span {
    font-family: 'Roboto', sans-serif; /* Fonte do logo */
    font-size: 60px; /* Tamanho da fonte do logo */
    font-weight: 900; /* Peso da fonte do logo */
    color: #ffffff; /* Cor da letra */
  }
  
  .logo::after {
    content: ""; /* Cria um elemento vazio */
    position: absolute; /* Posiciona a barra */
    bottom: 0px; /* Ajusta a posição da barra mais próxima ao texto */
    left: 50%; /* Centraliza a barra horizontalmente */
    transform: translateX(-50%); /* Ajusta o alinhamento horizontal */
    width: 40px; /* Largura reduzida da barra */
    height: 5px; /* Altura reduzida da barra */
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.6)); /* Gradiente vermelho neon */
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8); /* Efeito de brilho neon vermelho */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para a cor da barra */
  }
  
  .logo:hover::after {
    background-color: #ffffff; /* Muda a cor da barra quando o mouse está sobre o logo */
  }
  