 
 <div>
    <h2 class="underline">Curriculo</h2>
    <h2 class="h2-linguagens ">Python</h2>
    <div class="linguagem-container">
           
       <p>Python é uma linguagem de programação extremamente versátil, amplamente utilizada em diversas áreas como desenvolvimento web, análise de dados, automação, inteligência artificial e muito mais. <br>Durante a faculdade, adquiri experiência em projetos com Python, utilizando frameworks como FastAPI, explorando o Django, e aplicando técnicas de computação gráfica. Além disso, tenho conhecimento em automação de processos e já trabalhei com o banco de dados PostgreSQL, integrando-o a projetos em Python. Estou sempre expandindo minhas habilidades, aprendendo novas bibliotecas e frameworks que ampliam as capacidades desta linguagem poderosa.</p>
           <img src="python-avançando-linguagem.png" alt="Imagem sobre Python" class="imagem">
       </div>
    </div>