 
 <div>
    <h2 class="underline">Curriculo</h2>
    <h2 class="h2-linguagens ">Python</h2>
    <div class="linguagem-container">
           
       <p>Python é uma linguagem de programação extremamente versátil, amplamente utilizada em diversas áreas como desenvolvimento web, análise de dados, automação, inteligência artificial e muito mais. <br>Durante a faculdade, adquiri experiência em projetos com Python, utilizando frameworks como FastAPI, explorando o Django, e aplicando técnicas de computação gráfica. Além disso, tenho conhecimento em automação de processos e já trabalhei com o banco de dados PostgreSQL, integrando-o a projetos em Python. Estou sempre expandindo minhas habilidades, aprendendo novas bibliotecas e frameworks que ampliam as capacidades desta linguagem poderosa.</p>
           <img src="python-avançando-linguagem.png" alt="Imagem sobre Python" class="imagem">
       </div>
</div>
<div>
   <h2 class="h2-linguagens ">HTML e CSS</h2>
   <div class="linguagem-container">
          
      <p>Durante a faculdade, desenvolvi habilidades práticas em HTML e CSS, criando layouts e design de páginas web com foco em usabilidade e estética. Trabalhei com técnicas avançadas de estilização, como gradientes, animações e responsividade, para melhorar a experiência do usuário. Também me familiarizei com práticas de design moderno, como o uso de Flexbox e Grid para layouts complexos.Estou sempre atualizado com as últimas tendências e melhores práticas em desenvolvimento front-end, explorando novas propriedades e técnicas para criar interfaces web impactantes e funcionais.</p>
          <img src="Html e css.png" alt="Imagem sobre html e css" class="imagem">
      </div>
</div>
<div>
   <h2 class="h2-linguagens ">JavaScipt</h2>
   <div class="linguagem-container">
          
      <p>adquiri experiência prática em JavaScript pesquisando em foruns e aprendendo na tentativa e erro , trabalhando em projetos que envolviam manipulação do DOM para atualizar conteúdos e estilos dinamicamente, bem como integração com APIs para carregar dados e realizar operações assíncronas. Explorei o uso de frameworks e bibliotecas populares como Angular</p>
          <img src="Javascript e html.png" alt="Imagem sobre JavaScipt e html" class="imagem">
      </div>
</div>

<div>
   <h2 class="h2-linguagens ">TypeScript</h2>
   <div class="linguagem-container">
          
      <p>TypeScript é a linguagem de programação mais nova que aprendi, e adquiri bastante experiência ao trabalhar no desenvolvimento do meu portfólio usando Angular. Utilize a tipagem estática para definir claramente os tipos de variáveis, parâmetros e retornos de funções, o que melhorou a legibilidade e a manutenção do código. Explorei o uso de interfaces, classes e módulos para criar uma estrutura de código mais organizada e modular. Além disso, trabalhei na implementação de animações para tornar as interfaces mais dinâmicas e atraentes.</p>
          <img src="angular.png" alt="Imagem sobre angular" class="imagem">
      </div>
</div>

<div>
   <h2 class="h2-linguagens ">Ingles</h2>
   <div class="linguagem-container">
          
      <p>Comecei a estudar inglês aos 10 anos, incentivado pela insistência da minha mãe. Inicialmente, não gostava da ideia, mas com o tempo, fui percebendo a importância da língua na minha vida. Em 2020, com 17 anos, finalizei minha formação na Language Escola de Idiomas, que possui uma parceria educacional com a Universidade de Cambridge. Esse percurso me proporcionou uma nova perspectiva sobre o valor do inglês e como ele pode impactar positivamente minha trajetória pessoal e profissional.</p>
          <img src="certificado ingles.png" alt="Imagem sobre ingles" class="imagem">
      </div>
</div>